
<form #form enctype="multipart/form-data" method="post">

  <ng-container *ngIf="isValid">

    <!-- <div  class="alert alert-danger alert-dismissible fade show" role="alert">
       <strong>Validation</strong>
       S'il vous plaît remplir tous les champs obligatoires.
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>-->
  </ng-container>
  <div class="accordion" id="accordionExample0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                data-bs-target="#collapseOne" data-bs-toggle="collapse" style="background:#90191c;color:white"
                type="button">
          Demande De Référencement
        </button>
      </h2>
      <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"
           id="collapseOne0">
        <div class="accordion-body">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item  m-3">
              <h2 class="accordion-header" >
                <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  RENSEIGNEMENTS DE L'ENTREPRISE
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Raison sociale: (*)</span>
                          <input [ngClass]="{'borderError' : true}" required="true" type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.raisonSociale">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.raisonSociale">Le champ est obligatoire.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Forme juridique: (*)</span>
                          <input [ngClass]="{'borderError' : true}" required="true" type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.formeJuridique">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.formeJuridique">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Adresse: (*)</span>
                          <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.adresse">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.adresse">Le champ est obligatoire.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text">ICE: (*)</span>
                          <input [(ngModel)]="dmdReferencement.ice" [ngModelOptions]="{standalone: true}" class="form-control"
                                 required
                                 type="text">
                          <small *ngIf="submitte && !dmdReferencement.ice" style="color:red;">Le
                            champ est obligatoire.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >TEL: (*)</span>
                          <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.telEntreprise">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.telEntreprise">Le champ est obligatoire.</small>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Forme Juridique: (*)</span>
                          <input required type="file" class="form-control" (change)="onFileSelected(1, $event)">
                          <small style="color:red;" *ngIf="submitte && !selectedFiles[0]">Le fichier est obligatoire.</small>
                          <small *ngIf="submitte && !isPdf(selectedFiles[0]) " style="color:red;">invalid
                            pdf.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >FAX: (*)</span>
                          <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.faxEntreprise">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.faxEntreprise">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Email: (*)</span>
                          <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.emailEntreprise">
                          <small style="color:red;" *ngIf="submitte &&!validateEmail!(dmdReferencement.emailEntreprise)">L'email n'est pas valide.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Attestation de registre de commerce: (*)</span>
                          <input required type="file" class="form-control" (change)="onFileSelected(2, $event)">
                          <small style="color:red;" *ngIf="submitte && !selectedFiles[1]">Le fichier est obligatoire.</small>
                          <small *ngIf="submitte && !isPdf(selectedFiles[1])" style="color:red;">invalid
                            pdf.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Date de création: (*)</span>
                          <input required type="date" class="p-datepicker"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateCreation" >
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.dateCreation">Le champ est obligatoire.</small>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2">Attestation de CNSS: (*)</span>
                          <input (change)="onFileSelected(3, $event)" class="form-control" required
                                 type="file">
                          <small *ngIf="submitte && !selectedFiles[2]" style="color:red;">Le fichier
                            est obligatoire.</small>
                          <small *ngIf="submitte && !isPdf(selectedFiles[2]) " style="color:red;">invalid
                            pdf.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Date d'expiration d'attestation CNSS: (*)</span>
                          <input required type="date" class="p-datepicker" [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateExperationCNSS" >
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.dateExperationCNSS">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Capital: (*)</span>
                          <input required type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.capital" >
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.capital">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Secteur d’activité: (*)</span>
                          <select [(ngModel)]="dmdReferencement.secteurActivite" [ngModelOptions]="{standalone: true}"
                                  class="form-select">
                            <option selected>Select an option</option>
                            <ng-container *ngFor="let str of listLots">
                              <option [value]="str">{{ str }}</option>
                            </ng-container>
                          </select>
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.secteurActivite">Le champ est obligatoire.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >N° T.V.A: (*)</span>
                          <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.numTva">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.numTva">Le champ est obligatoire.</small>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Registre de commerce (RC): (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.registreCommerce">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.registreCommerce">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >IF: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.identifiantFiscal">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.identifiantFiscal">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >N° d’inscription à la CNSS: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.numeroCnss">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.numeroCnss">Le champ est obligatoire.</small>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2">Attestation Fiscale: (*)</span>
                          <input (change)="onFileSelected(4, $event)" class="form-control"
                                 type="file">
                          <small *ngIf="submitte && !selectedFiles[3]" style="color:red;">Le fichier
                            est obligatoire.</small>
                          <small *ngIf="submitte && !isPdf(selectedFiles[3]) " style="color:red;">invalid
                            pdf.</small>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text">Date d'expiration d'attestation Fiscale: (*)</span>
                          <input [(ngModel)]="dmdReferencement.dateExperationFiscale" [ngModelOptions]="{standalone: true}"
                                 class="p-datepicker"
                                 type="date">
                          <small *ngIf="submitte && !dmdReferencement.dateExperationFiscale"
                                 style="color:red;">Le
                            champ est obligatoire.</small>
                        </div>
                        <ng-container *ngIf="isFou()">
                          <div class="form-group mb-4">
                            <span class="input-group-text">Site internet</span>
                            <input [(ngModel)]="dmdReferencement.site" [ngModelOptions]="{standalone: true}" class="form-control"
                                   required
                                   type="text">
                          </div>
                        </ng-container>

                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Patente : (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.patente">
                          <small style="color:red;" *ngIf="submitte && !dmdReferencement.patente">Le champ est obligatoire.</small>
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Attestation d'inscription à la taxe professionnelle: (*)</span>
                          <input type="file" class="form-control" (change)="onFileSelected(5, $event)">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2">Attestation présentation de société: (*)</span>
                          <input (change)="onFileSelected(6, $event)" class="form-control"
                                 type="file">
                          <small *ngIf="submitte && !selectedFiles[5]" style="color:red;">Le fichier
                            est obligatoire.</small>
                          <small *ngIf="submitte && !isPdf(selectedFiles[5])" style="color:red;">invalid
                            pdf.</small>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion"  id="accordionExample4">
              <div class="accordion-item  m-3">
                <h2 class="accordion-header" >
                  <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                    RENSEIGNEMENTS ADMINISTRATIFS
                  </button>
                </h2>
                <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2">Dirigeant: (*)</span>
                            <input required [(ngModel)]="dmdReferencement.dirigeant" [ngModelOptions]="{standalone: true}"
                                   class="form-control"
                                   type="text">
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.dirigeant">Le champ est obligatoire.</small>

                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text">Représentant à contacter: (*)</span>
                            <input required [(ngModel)]="dmdReferencement.representant" [ngModelOptions]="{standalone: true}"
                                   class="form-control"
                                   type="text">
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.representant">Le champ est obligatoire.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text">Fonction de représentant:  (*)</span>
                            <input required [(ngModel)]="dmdReferencement.fonction" [ngModelOptions]="{standalone: true}"
                                   class="form-control"
                                   type="text">
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.fonction">Le champ est obligatoire.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text">Chiffre d'affaire (*):</span>
                            <input required [(ngModel)]="year1input" [ngModelOptions]="{standalone: true}" class="form-control mb-2" placeholder="{{getFirstKey()}}"
                                   type="number">
                            <small style="color:red;" *ngIf="submitte && !year1input">Le champ est obligatoire.</small>

                            <input required [(ngModel)]="year2input" [ngModelOptions]="{standalone: true}" class="form-control mb-2" placeholder="{{getSecKey()}}"
                                   type="number">
                            <small style="color:red;" *ngIf="submitte && !year2input">Le champ est obligatoire.</small>

                            <input required [(ngModel)]="year3input" [ngModelOptions]="{standalone: true}" class="form-control " placeholder="{{getTheKey()}}"
                                   type="number">
                            <small style="color:red;" *ngIf="submitte && !year3input">Le champ est obligatoire.</small>

                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >Cadre administratif :</span>
                            <input required type="file" class="form-control" (change)="onFileSelected(7, $event)">
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text" >GSM: (*)</span>
                            <input required type="number" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.gsm" >
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.gsm">Le champ est obligatoire.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text">GSM: (*)</span>
                            <input required [(ngModel)]="dmdReferencement.direct" [ngModelOptions]="{standalone: true}"
                                   class="form-control"
                                   type="number">
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.direct">Le champ est obligatoire.</small>

                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text" >Effectif de l'entreprise:: (*)</span>
                            <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.effectif">
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.effectif">Le champ est obligatoire.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text" >Attestation de capacité financière:</span>
                            <input required type="file" class="form-control" (change)="onFileSelected(8, $event)">

                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >Attestation de chiffre d'affaire :</span>
                            <input required type="file" class="form-control"  (change)="onFileSelected(9, $event)">
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >Date d'expiration CA: (*)</span>
                            <input required type="date" class="p-datepicker"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateExperationChiffreAffaires">
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.dateExperationChiffreAffaires">Le champ est obligatoire.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >FAX: (*)</span>
                            <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.faxRepresnetant" >
                            <small style="color:red;" *ngIf="submitte && !dmdReferencement.faxRepresnetant">Le champ est obligatoire.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >E-mail: (*)</span>
                            <input required type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.emailRepresentant" >
                            <small style="color:red;" *ngIf="submitte && !validateEmail!(dmdReferencement.emailRepresentant)">L'email n'est pas valide.</small>
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >Organigramme :</span>
                            <input required type="file" class="form-control"  (change)="onFileSelected(10, $event)">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion"  id="accordionExample3">
              <div class="accordion-item  m-3">
                <h2 class="accordion-header" >
                  <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne">
                    Documents Techniques Justificatifs:
                  </button>
                </h2>
                <div id="collapseOne5" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample3">
                  <div class="accordion-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2">Attestation de qualification et classification </span>
                            <input required type="file" class="form-control"  aria-describedby="basic-addon1" (change)="onFileSelected(11, $event)">
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text">Catalogue des produits :</span>
                            <input (change)="onFileSelected(12, $event)" class="form-control" required
                                   type="file">
                            <small *ngIf="submitte && !selectedFiles[11]" style="color:red;">Le
                              fichier est obligatoire.</small>
                            <small *ngIf="submitte && !isPdf(selectedFiles[11]) "
                                   style="color:red;">invalid
                              pdf.</small>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >Attestations des travaux exécutés :</span>
                            <input (change)="onFileSelected(13, $event)" class="form-control" required
                                   type="file">
                          </div>
                          <div class="form-group mb-4">
                            <span class="input-group-text" >Certificats des produits </span>
                            <input (change)="onFileSelected(14, $event)" class="form-control" required
                                   type="file">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group mb-4">
                            <span class="input-group-text pb-2" >Moyens techniques :</span>
                            <input (change)="onFileSelected(15, $event)" class="form-control" required
                                   type="file">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion" id="accordionExample6">
              <ng-container *ngIf="isFou()">
                <div class="accordion-item  m-3">
                  <h2 class="accordion-header">
                    <button aria-controls="collapseOne" aria-expanded="true"
                            class="accordion-button" data-bs-target="#collapseOne6" data-bs-toggle="collapse"
                            style="background:#90191c;color:white" type="button">
                      Domiciliation bancaire:
                    </button>
                  </h2>
                  <div aria-labelledby="headingOne" class="accordion-collapse collapse show"
                       data-bs-parent="#accordionExample3" id="collapseOne6">
                    <div class="accordion-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <span class="input-group-text pb-2">Banque </span>
                              <input [(ngModel)]="dmdReferencement.banque" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     required
                                     type="text"></div>
                            <div class="form-group mb-4">
                              <span class="input-group-text">RIB</span>
                              <input [(ngModel)]="dmdReferencement.rib" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     required
                                     type="text">


                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <span class="input-group-text pb-2">Agence</span>
                              <input [(ngModel)]="dmdReferencement.agence" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     required
                                     type="text">
                            </div>
                            <div class="form-group mb-4">
                              <span class="input-group-text">Ville</span>
                              <input [(ngModel)]="dmdReferencement.ville" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     required
                                     type="text">
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="accordion-item  m-3">
                  <h2 class="accordion-header">
                    <button aria-controls="collapseOne" aria-expanded="true"
                            class="accordion-button" data-bs-target="#collapseOne7" data-bs-toggle="collapse"
                            style="background:#90191c;color:white" type="button">
                      Interlocuteur:
                    </button>
                  </h2>
                  <div aria-labelledby="headingOne" class="accordion-collapse collapse show"
                       data-bs-parent="#accordionExample3" id="collapseOne7">
                    <div class="accordion-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <span class="input-group-text pb-2">Direction général</span>
                              <input [(ngModel)]="dmdReferencement.dgnom" [ngModelOptions]="{standalone: true}" class="form-control"
                                     placeholder="nom"
                                     required
                                     type="text">
                              <input [(ngModel)]="dmdReferencement.dgprenom" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     placeholder="prenom"
                                     required
                                     type="text">
                              <input [(ngModel)]="dmdReferencement.dgemail" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     placeholder="Email"
                                     required
                                     type="text">
                              <input [(ngModel)]="dmdReferencement.dgtel" [ngModelOptions]="{standalone: true}" class="form-control"
                                     placeholder="Tel"
                                     required
                                     type="text">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <span class="input-group-text pb-2">Direction commerciale</span>
                              <input [(ngModel)]="dmdReferencement.dcnom" [ngModelOptions]="{standalone: true}" class="form-control"
                                     placeholder="nom"
                                     required
                                     type="text">
                              <input [(ngModel)]="dmdReferencement.dcprenom" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     placeholder="prenom"
                                     required
                                     type="text">
                              <input [(ngModel)]="dmdReferencement.dcemail" [ngModelOptions]="{standalone: true}"
                                     class="form-control"
                                     placeholder="Email"
                                     required
                                     type="text">
                              <input [(ngModel)]="dmdReferencement.dctel" [ngModelOptions]="{standalone: true}" class="form-control"
                                     placeholder="Tel"
                                     required
                                     type="text"></div>
                          </div>


                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-container>
              <div class="container text-center">
                <div class="justify-content-center align-content-center ">
                  <button (click)="save()" class="btn p-3 mb-4" style="background:#90191c;color:white;"
                          type="submit">Envoyer la demande
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>

  </div>


</form>



