<form #form (ngSubmit)="save()">



  <div class="accordion" id="accordionExample0">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Demande De Référencement
        </button>
      </h2>
      <div id="collapseOne0" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion"  id="accordionExample">
            <div class="accordion-item  m-5">
              <h2 class="accordion-header" >
                <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  RENSEIGNEMENTS DE L'ENTREPRISE
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Raison sociale: (*)</span>
                          <input  type="text" class="form-control" name="raisonSociale"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.raisonSociale"  >
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Forme juridique: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.formeJuridique">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Adresse: (*)</span>
                          <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.adresse">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >ICE: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.ICE" >
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >TEL: (*)</span>
                          <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.telEntreprise">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Forme Juridique: (*)</span>
                          <input type="file" class="form-control" (change)="onFileSelected(1, $event)">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >FAX: (*)</span>
                          <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.faxEntreprise">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Email: (*)</span>
                          <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.emailEntreprise">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Attestation de registre de commerce: (*)</span>
                          <input type="file" class="form-control" (change)="onFileSelected(2, $event)">

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Date de création: (*)</span>
                          <input type="date" class="p-datepicker"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateCreation" >
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Attestation de CNSS: (*)</span>
                          <input type="file" class="form-control"  (change)="onFileSelected(3, $event)">

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Date d'expiration d'attestation CNSS: (*)</span>
                          <input type="date" class="p-datepicker" [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateExperationCNSS" >
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Capital: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.capital" >
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Secteur d’activité: (*)</span>
                          <select class="form-select"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.secteurActivite" >
                            <option selected>Select an option</option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>

                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >N° T.V.A: (*)</span>
                          <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.numTva">
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Registre de commerce (RC): (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.registreCommerce">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >IF: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.identifiantFiscal">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >N° d’inscription à la CNSS: (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.numeroCnss">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Attestation Fiscale: (*)</span>
                          <input type="file" class="form-control" (change)="onFileSelected(4, $event)">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Date d'expiration d'attestation Fiscale: (*)</span>
                          <input type="date" class="p-datepicker"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateExperationFiscale">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text" >Date de création: (*)</span>
                          <input type="date" class="p-datepicker"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateCreation" >
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Patente : (*)</span>
                          <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.patente">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Attestation d'inscription à la taxe professionnelle: (*)</span>
                          <input type="file" class="form-control" (change)="onFileSelected(5, $event)">
                        </div>
                        <div class="form-group mb-4">
                          <span class="input-group-text pb-2" >Attestation présentation de société: (*)</span>
                          <input type="file" class="form-control" (change)="onFileSelected(6, $event)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion"  id="accordionExample4">
          <div class="accordion-item  m-5">
            <h2 class="accordion-header" >
              <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                RENSEIGNEMENTS ADMINISTRATIFS
              </button>
            </h2>
            <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2">Dirigeant: (*)</span>
                        <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dirigeant" >
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >Représentant à contacter: (*)</span>
                        <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.representant" >
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >Fonction de représentant:  (*</span>
                        <input type="text" class="form-control"    [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.fonction">
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >Cadre administratif :</span>
                        <input type="file" class="form-control" (change)="onFileSelected(6, $event)">
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >GSM: (*)</span>
                        <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.gsm" >
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text">GSM: (*)</span>
                        <input type="date" class="p-datepicker"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.gsm">
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >Effectif de l'entreprise:: (*)</span>
                        <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.effectif">
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >Attestation de capacité financière:</span>
                        <input type="file" class="form-control" (change)="onFileSelected(7, $event)">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >Attestation de chiffre d'affaire :</span>
                        <input type="file" class="form-control"  (change)="onFileSelected(8, $event)">
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >Date d'expiration d'attestation Fiscale: (*)</span>
                        <input type="date" class="p-datepicker"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.dateExperationChiffreAffaires">
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >FAX: (*)</span>
                        <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.faxRepresnetant" >
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >E-mail: (*)</span>
                        <input type="text" class="form-control"   [ngModelOptions]="{standalone: true}" [(ngModel)] ="dmdReferencement.emailRepresentant" >
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >Organigramme :</span>
                        <input type="file" class="form-control"  (change)="onFileSelected(9, $event)">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion"  id="accordionExample3">
          <div class="accordion-item  m-5">
            <h2 class="accordion-header" >
              <button class="accordion-button" style="background:#90191c;color:white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                Documents Techniques Justificatifs:
              </button>
            </h2>
            <div id="collapseOne5" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2">Attestation de qualification et classification </span>
                        <input type="text" class="form-control"  aria-describedby="basic-addon1" (change)="onFileSelected(10, $event)">
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >Catalogue des produits :</span>
                        <input type="text" class="form-control"  aria-describedby="basic-addon1">
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >Attestations des travaux exécutés :</span>
                        <input type="file" class="form-control" (change)="onFileSelected(12, $event)" >
                      </div>
                      <div class="form-group mb-4">
                        <span class="input-group-text" >Certificats des produits </span>
                        <input type="file" class="form-control" (change)="onFileSelected(13, $event)">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <span class="input-group-text pb-2" >Moyens techniques :</span>
                        <input type="file" class="form-control"  (change)="onFileSelected(14, $event)">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center">
    <div class="justify-content-center align-content-center">
      <button type="submit" class="btn p-2" style="background:#90191c;color:white;">Envoyer</button>
    </div>
  </div>
</form>
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Demande de référencement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Notre site offre aux fournisseurs et aux sous-traitants la possibilité de soumettre des demandes de référencement. Lors de votre demande, vous choisissez votre rôle : fournisseur ou sous-traitant. Si vous exercez les deux rôles, vous devez soumettre deux demandes distinctes.